.container h2{
    text-align: center;
}
.container img{
    margin: auto;
    width: 100%;
}
#lists {
    margin-top:30px;
}
#lists p{
    text-align: center;
    display: inline-block;
}

#soluong{
    margin-top:30px;
    text-align: center  ;
}
.container .fa{
    color: #55a747;
}
#gioi_thieu .stat{
    font-size:32px;
}
#gioi_thieu{
    padding-top: 15px;
    border-bottom:15px;
    margin-top: 30px;
    background-color: #f5f5f5;
}
