.container h2 {
    text-align: center;
}

.container img {
    margin: auto;
}

#menu p {
    margin-top: 30px;
    text-align: center;
    display: inline-block;
}

.main .container #soluong {
    background-color: #f5f5f5;
    width: 100%;
}

#soluong {
    margin-top: 30px;
    text-align: center;
}

#gioi-thieu h3 {
    margin-top: 5px;
}

#gioi-thieu .stat {
    font-size: 30px;
    font-weight: bold;
}

#gioi-thieu .stat .fa {
    font-size: 16px;
    color: #55a747;
}

#gioi-thieu .stat p {
    font-weight: normal;
}

#gioi-thieu .stats {
    background-color: #f5f5f5;
}
