.container
  width: 100%
header
  nav
    .navbar-header
      img
        width: 100px
        height: 100%
    ul.menu
    .chua-dang-nhap
      margin-top: 10px
      margin-right: 10px
      button.btn
        margin-right: 5px
        margin-bottom: 5px
        padding-top: 5px
        padding-bottom: 5px
    .dang-nhap
      list-style-type: none
      margin-top: 10px
      margin-right: 10px
      padding: 0
      li
        display: inline-block
        margin-right: 10px
        a
          color: #ffffff
          font-size: 17px
          font-weight: 700
          &:hover
            color: #1abc9c
      li+li:before
        content: '|'
        color: #ffffff
        font-size: 17px
        font-weight: 700
        margin-right: 10px
  .banner
    max-height: 400px
    margin-top: 53px
    position: relative
    #slide
      padding: 0
      li
        a
          img
            width: 100%
            max-height: 400px
    .gui-ho-so
      position: absolute
      bottom: 30px
      left: 30px
footer
  .huong-dan-gui-ho-so
    ul.cac-buoc
      padding: 0px
      margin-top: 20px
      li
        display: inline-block
        text-align: center
        color: #333333
        text-transform: uppercase
        font-weight: bold
    h3
      text-align: center
      margin: 0px
      font-size: 30px
      color: #333333
.bx-wrapper
  .bx-viewport
    left: 0
    border: none
    box-shadow: none
    background-color: transparent