header nav .navbar-header img {
    padding: 0 30px;
    height: 100%;
}

header nav .chua-dang-nhap {
    margin-top: 10px;
    margin-right: 10px;
}

header nav {
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

header nav .chua-dang-nhap button.btn {
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header nav .dang-nhap {
    list-style-type: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
}

header nav .dang-nhap li {
    display: inline-block;
    margin-right: 10px;
}

header nav .dang-nhap li a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
}

header nav .dang-nhap li a:hover {
    color: #1abc9c;
}

header nav .dang-nhap li + li:before {
    content: '|';
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
}

header .banner {
    max-height: 400px;
    position: relative;
}

header .banner #slide {
    padding: 0;
}

header .banner #slide li a img {
    width: 100%;
    max-height: 400px;
}

header .banner .gui-ho-so {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

footer .huong-dan-gui-ho-so {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer .huong-dan-gui-ho-so ul.cac-buoc {
    padding: 0px;
    margin-top: 50px;
    text-align: center;
}

footer .huong-dan-gui-ho-so ul.cac-buoc li {
    display: inline-block;
    text-align: center;
}

footer .huong-dan-gui-ho-so ul.cac-buoc li p {
    font-size: 17px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
}

footer .huong-dan-gui-ho-so ul.cac-buoc li span {
    font-size: 100px;
    margin-top: 30px;
    color: #1abc9c;
    padding: 15px;
    border: 1px solid #c0d0cd;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

footer .huong-dan-gui-ho-so h3 {
    text-align: center;
    margin: 0px;
    font-size: 30px;
    color: #333333;
}

footer .huong-dan-gui-ho-so button {
    float: right;
    margin-right: 50px;
}

footer .cong-ty-lien-ket {
    padding: 30px 0;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
}

footer .cong-ty-lien-ket ul {
    list-style-type: none;
    text-align: center;
}

footer .cong-ty-lien-ket ul li {
    display: inline-block;
    margin: 10px 20px;
}

section.main {
    margin-top: 30px;
}

section.main h1.tieu-de {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 40px;
}

section.main h1.tieu-de .noidung {
    background-color: #2b78e4;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
}

section.main ul.danh-sach {
    list-style-type: none;
    padding: 0px;
}

section.main ul.danh-sach li.bai-dang {
    border: 1px solid rgba(220, 183, 163, 0.13);
    padding: 10px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

section.main ul.danh-sach li.bai-dang h3 {
    font-size: 20px;
    color: #333333;
}

section.main ul.danh-sach li.bai-dang .anh-dai-dien img {
    width: 100%;
}

section.main ul.danh-sach li.bai-dang .noi-dung-bai-dang {
    font-size: 15px;
    max-height: 150px;
    overflow: hidden;
}

section.main ul.danh-sach li.bai-dang .ngay-dang {
    font-size: 13px;
    color: #333333;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

section.main ul.danh-sach li.bai-dang .ngay-dang:before {
    content: '\f017';
    font-family: "FontAwesome";
    font-size: 15px;
    margin-right: 5px;
}

section.main ul.danh-sach li.bai-dang ul.tag {
    float: left;
    padding: 0px;
}

section.main ul.danh-sach li.bai-dang ul.tag:before {
    content: '\f07b';
    font-family: "FontAwesome";
    font-size: 15px;
    margin-right: 5px;
}

section.main ul.danh-sach li.bai-dang ul.tag li {
    display: inline-block;
}

section.main ul.danh-sach li.bai-dang ul.tag li a {
    font-size: 14px;
    color: #333333;
}

section.main ul.danh-sach li.bai-dang ul.tag li + li:before {
    content: ',';
    font-size: 14px;
    margin-right: 3px;
}

section.main ul.danh-sach li.bai-dang .xem-them {
    float: right;
    margin-right: 15px;
}

section.main ul.ben-phai {
    list-style-type: none;
    padding: 0px;
}

section.main ul.ben-phai li {
    border: 1px solid rgba(220, 183, 163, 0.13);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

section.main ul.ben-phai li:first-child {
    display: block;
}

section.main ul.ben-phai li:first-child img {
    width: 100%;
}

section.main ul.ben-phai li:first-child a {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

section.main ul.ben-phai li:last-child {
    text-align: center;
}

section.main ul.ben-phai li:last-child img {
    width: 50%;
}

section.main ul.ben-phai li:nth-child(2) ul.su-kien {
    list-style-type: none;
    padding: 0px;
}

section.main ul.ben-phai li:nth-child(2) ul.su-kien li {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    max-height: 25px;
    overflow: hidden;
}

section.main ul.ben-phai li:nth-child(2) ul.su-kien li a {
    font-size: 15px;
    color: #333333;
    margin-left: 10px;
    font-weight: 700;
}

section.main ul.ben-phai li:nth-child(3) iframe {
    width: 100%;
    height: 200px;
}

section.main ul.ben-phai li .tieu-de-phai {
    text-align: left;
    margin: 0px;
    background-color: #dedede;
    border-top: 2px solid #015198;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

section.main .chuyen-trang {
    margin-bottom: 30px;
}

section.main .chuyen-trang a {
    color: #333333;
}

section.main .chuyen-trang .trang-truoc {
    float: left;
    margin-left: 30px;
}

section.main .chuyen-trang .trang-truoc:before {
    content: '\f053';
    font-family: 'FontAwesome';
    margin-right: 5px;
}

section.main .chuyen-trang .trang-sau {
    float: right;
    margin-right: 30px;
}

section.main .chuyen-trang .trang-sau:after {
    content: '\f054';
    font-family: 'FontAwesome';
    margin-left: 5px;
}

section.thong-tin .thong-tin-ca-nhan {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

section.thong-tin .thong-tin-co-ban {
    margin-top: 30px;
}

section.thong-tin .thong-tin-co-ban .anh-dai-dien img {
    width: 100%;
}

section.thong-tin .thong-tin-co-ban .ten-va-truong p {
    font-size: 17px;
    font-weight: bold;
}

section.trang-chu .tin-moi h3, section.trang-chu .guong-mat-tieu-bieu h3 {
    border-bottom: 1px solid rgba(152, 189, 46, 0.19);
}

section.trang-chu .tin-moi h3 a, section.trang-chu .guong-mat-tieu-bieu h3 a {
    padding: 15px;
    color: #333333;
    font-size: 40px;
    text-transform: uppercase;
}

section.trang-chu .tin-moi ul, section.trang-chu .guong-mat-tieu-bieu ul {
    list-style-type: none;
    padding: 0;
}

section.trang-chu .tin-moi ul li .thumbnail, section.trang-chu .guong-mat-tieu-bieu ul li .thumbnail {
    border: 0;
}

section.trang-chu .guong-mat-tieu-bieu ul li {
    position: relative;
    margin-top: 20px;
}

section.trang-chu .guong-mat-tieu-bieu ul li a {
    text-transform: uppercase;
    text-align: center;
}

section.trang-chu .guong-mat-tieu-bieu ul li a img {
    width: 100%;
}

section.trang-chu .guong-mat-tieu-bieu ul li a .thong-tin-them {
    background-color: rgba(191, 195, 194, 0.5);
    position: absolute;
    bottom: 5px;
    width: calc(100% - 30px);
}

section.trang-chu .guong-mat-tieu-bieu ul li a .thong-tin-them p {
    width: 100%;
    color: #333333;
    font-weight: bold;
    margin-top: 10px;
}

section.dang-nhap form {
    width: 50%;
    text-align: center;
}

.bx-wrapper .bx-viewport {
    left: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

section.thong-tin-ca-nhan h2 {
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

section.thong-tin-ca-nhan p {
    font-weight: bold;
    color: #333333;
    font-size: 17px;
    text-transform: capitalize;
}

section.thong-tin-ca-nhan .group p:before {
    content: '\f0d7';
    font-family: FontAwesome;
    margin-right: 10px;
}

section.thong-tin-ca-nhan .group ul {
    list-style-type: none;
}

section.bang-xep-hang ul.danh-sach-truong {
    margin-top: 30px;
    padding: 20px;
    list-style-type: none;
}

section.bang-xep-hang ul.danh-sach-truong li {
    border-bottom: 1px solid rgba(123, 137, 150, 0.29);
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

section.bang-xep-hang ul.danh-sach-truong li a {
    color: #333333;
    font-size: 17px;
}

section.bang-xep-hang ul.danh-sach-truong li a.active {
    color: #000;
    font-size: 18px;
    text-decoration: line-through;
}

section.bang-xep-hang .tim-kiem {
    float: right;
    width: 100%;
    height: 52px;
    border: 1px solid #5dade2;
    background-color: #ffffff;
    margin-bottom: 20px;
}

section.bang-xep-hang .tim-kiem select, section.bang-xep-hang .tim-kiem input {
    height: 50px;
    border: 0;
    margin: 0;
    padding-left: 40px;
}

section.bang-xep-hang .tim-kiem select:focus, section.bang-xep-hang .tim-kiem input:focus {
    outline: none;
}

section.bang-xep-hang .tim-kiem button {
    height: 50px;
    border: none;
    border-radius: 0;
    margin-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
}

section.bang-xep-hang .tim-kiem button .fa {
    font-size: 24px;
}

section.bang-xep-hang ul.xep-hang {
    width: 100%;
    margin-top: 100px;
    list-style-type: none;
    padding: 0px;
}

section.bang-xep-hang ul.xep-hang li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    /*border-bottom: 1px solid rgba(61, 61, 61, 0.36);*/
}

section.bang-xep-hang ul.xep-hang li .anh-dai-dien img {
    width: 100%;
}

section.bang-xep-hang ul.xep-hang li ul.thong-tin {
    padding: 0;
    list-style-type: none;
    border: 1px solid rgba(123, 137, 150, 0.69);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

section.bang-xep-hang ul.xep-hang li ul.thong-tin li {
    margin: 10px;
    border-bottom: 2px solid rgba(51, 51, 51, 0.25);
}

section.bang-xep-hang ul.xep-hang li ul.thong-tin li:last-child {
    border: none;
}

section.bang-xep-hang ul.xep-hang li ul.thong-tin li p {
    margin: 0;
    color: #333333;
}

section.gioi-thieu img {
    width: 100%;
}

section.gioi-thieu ul.list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

section.gioi-thieu ul.list li {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.gioi-thieu ul.list li i {
    color: #49bf67;
    font-size: 50px;
    margin-bottom: 20px;
}

section.gioi-thieu ul.list li p {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

section.gioi-thieu ul.stats {
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #7b8996;
    padding-top: 30px;
}

section.gioi-thieu ul.stats li {
    text-align: center;
}

section.gioi-thieu ul.stats li p:first-child {
    color: #49bf67;
    font-size: 40px;
}

section.gioi-thieu ul.stats li p:first-child i {
    font-size: 40px;
}

section.gioi-thieu ul.stats li p:last-child {
    text-transform: uppercase;
}
