<form ng-submit="submit()">
    <div class="section-title">
        <h3>
            <span class="fa fa-folder-open"></span>
            {{title}}
        </h3>

        <ul id="action">
            <li>
                <button class="submit" type="submit"><span class="fa fa-save"></span> Lưu</button>
            </li>
            <li>
                <button class="reset" ng-click="reset()" type="button"><span class="fa fa-repeat"></span> Reset</button>
            </li>
            <li>
                <button class="cancel" ui-sref="schools.list" type="button">
                    <span class="fa fa-times-circle"></span> Hủy
                </button>
            </li>
        </ul>
    </div>

    <div class="form-content">
        <form-input model="name" label="Tên Trường"></form-input>
        <form-input label="Hiện" model="active" type="checkbox"></form-input>
    </div>
</form>
